<ion-header [translucent]="true">
   <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button fill="solid" routerLink="details">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" >
      <ion-button fill="solid" routerLink="details">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title>{{ route?.Name }} [ {{route?.Difficulty}} &#64; {{route?.Angle}}&deg; ] </ion-title>
      <ion-buttons slot="start" >
        <ion-button fill="solid" routerLink="/routes">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">view-route-schema</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <div id="zoomContainer" #zoomContainer>
      <pinch-zoom id="zoom" #zoom [limit-zoom]=20>
         <canvas #canvas width="1500" height="700">
            Not supported on this browser
         </canvas>
      </pinch-zoom>
   </div>
</div>
</ion-content>
