<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button fill="solid" routerLink="/">
         <ion-icon name="log-in-outline"></ion-icon>
        LOGIN
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid" [disabled]="!formGroup.valid" form="form" type="submit">
         <ion-icon name="person-add-outline"></ion-icon>
        SIGNUP
      </ion-button>
    </ion-buttons>
    <ion-title>SIGNUP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">signup</ion-title>
    </ion-toolbar>
  </ion-header>

  <form id="form" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <div class="loginForm">
      <ion-input formControlName="username" type="email" label="Email"></ion-input>
      <ion-input formControlName="password" type="password" label="Password"></ion-input>
      <ion-input formControlName="confpassword" type="password" label="Confirm Password"></ion-input>
      <div *ngIf="formGroup.hasError('mismatch') && (formGroup.get('confpassword')?.dirty || formGroup.get('confpassword')?.touched)">
         Passwords do not match.
       </div>
    </div>
  </form>

</ion-content>
