<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ boulder?.Name }} [ {{boulder?.Difficulty}} &#64; {{boulder?.Angle}}&deg; ] </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ boulder?.Name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <pinch-zoom [limit-zoom]=max_zoom>
      <canvas
        #canvas
        style="border: 1px solid"
        width="1500"
        height="700">
          Not supported on this browser
      </canvas>
   </pinch-zoom>

   <div>
   <ion-icon *ngFor="let r of rating" name="star-outline"></ion-icon>
  </div>
   <p><span class="description">{{boulder?.Description}}</span></p>
   <p><span class="author">by {{boulder?.Autor}}</span></p>
  </div>
</ion-content>
