<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Routes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize"></strong>
    <ul class="boulders">
      <li *ngFor="let b of boulders">
        <button [class.selected]="b === selectedBoulder" type="button" (click)="onSelect(b)" [routerLink]="[ '/boulders/' + b.Id ]">
          <span class="badge">{{b.Difficulty}}</span>
          <span class="name">{{b.Name}}</span>
          <span class="angle">{{b.Angle}}&deg;</span>
        </button>
      </li>
    </ul>
  </div>
</ion-content>
