<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid" routerLink="/routes">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid" routerLink="details" [disabled]="holds.length > 1 ? false : true">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>New route</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add-route-schema</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <pinch-zoom id="zoom" #zoom [limit-zoom]=30>
      <canvas #canvas width="1500" height="700" (click)="templateClick($event)">
        Not supported on this browser
      </canvas>
    </pinch-zoom>
  </div>
</ion-content>
